{{ partial "header" . }}


{{ $title := .Title }}
{{ $url := printf "%s" .URL | absLangURL }}
{{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}


<div class="sr-sharebar sr-sb-vl sr-sb-left">
  <div class="socializer a sr-32px sr-opacity sr-vertical sr-icon-white sr-pad">
    <span class="sr-email">
      <a href="mailto:?subject={{$title}}&amp;body={{$body}}" target="_blank" title="Email">
        <i class="fa fa-envelope"></i>
      </a>
    </span>
    <span class="sr-rss">
      <a href="" target="_blank" title="RSS">
        <i class="fa fa-rss"></i>
      </a>
    </span>
    <span class="sr-whatsapp">
      <a href="https://api.whatsapp.com/send?text={{$url}}" target="_blank" title="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </span>
    <span class="sr-print">
      <a href="https://www.printfriendly.com/print?url={{$url}}" target="_blank" title="Print">
        <i class="fa fa-print"></i>
      </a>
    </span>
  </div>
</div>


<main>
    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    <div align="start" class="content">{{ .Content }}</div>
</main>

{{ partial "footer" . }}
