body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
}

* {
    box-sizing: border-box;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}

.header {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    background-color:black;
}

.sidediv {
    float: left;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}
.sideitem{
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}


.main {
    float: left;
    padding: 20px;
    border: 0px solid red;
    margin: 0px;
    background-color: rgb(32, 58, 7);
}

.container {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    text-align: center;
    background-color: aquamarine;
}

.canvs {
    background-color: black;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}